.videoBg{

    width: 104%;
    height: 100%;
    z-index: -100000;
}

.cont { position:relative; }
.cont .videoBg {
    position:relative;
    z-index:-1000;
}
.overlay {
    position:absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:1;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    color: #FFF;
}

.overlay h3{
    color: #fff38d;
    margin-bottom: 30px;
}

.overlay h1{
    margin-bottom: 0px;
}

.hodl{
    font-weight: bold;
}

#last{
    padding-bottom: 40px;
}

.chart1{
    background: rgba(0,0,0,0.5)
}
.chart2{
    top: 50px;
    background: rgba(0,0,0,0.5)
}

@media screen and (max-width: 425px) {
    .videoBg{
        width: 280%;
        height: 100%;
        z-index: -100000;
    }

    .brand-area{
        padding-top: 35px;
    }

    .overlay{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    h3{
        font-size: 20px;
    }

    @media screen and (max-width: 320px) {
       #image_one{
        width: 315px;
       }
    }
    @media screen and (min-width: 321px) and (max-width: 375px) {
        #image_one{
         width: 380px;
        }
     }
     @media screen and (min-width: 376px) and (max-width: 425px) {
        #image_one{
         width: 420px;
        }
     }
  
}

